:root {
    --black: #111419;
    --text: #EDE9DD;
}

body {
    margin: 0;
    padding: 0;
}

button {
    outline: none;
    color: #CECCC2;
    border: solid 2px #888C86;
    background: linear-gradient(0deg,#1a1f24 0%, #273232 100%);
}

main {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.overlay .image-view {
    top: 0;
    height: 100vh;
    position: absolute;
}

.overlay .image-view img {
    height: 100%;
    width: fit-content;
    object-fit: cover;
}